<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maria.cinema" >

    <uses-sdk android:minSdkVersion="15" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserHomeActivity"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name=".common.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".activities.CinemaDetailsActivity"
            android:label="@string/title_activity_cinema_details"
            >
        </activity>
        <activity
            android:name=".activities.MovieDetailsActivity"
            android:label="@string/title_activity_movie_details" >
        </activity>
    </application>

</manifest>
